.layout {
    margin-top: 100px;
    background-image: url('../assets/layout-free-design.png');

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    height: 589px;
    display: flex;
    flex-direction: column;
    width: 1290px;
    justify-content: center;
    align-items: center;
}

.design-container {
    display: flex;
}

@media (max-width:1290px) {
    .layout {
        height: 989px;
    }

    .design-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 630px;
        height: fit-content;

    }
}